# Core App Framework
streamlit
python-dotenv
gdown

# AI/LLM Support
langchain
langchain-community
huggingface-hub
groq

# ML Essentials
pycaret==3.0.0
scikit-learn==1.0.2
pandas==2.1.4
joblib
tldextract
httpx
python-whois
requests

# Visualization + Utilities
matplotlib==3.7.5
plotly==5.21.0
pillow
rich
colorama
tqdm

# Optional (used in your featureExtractor)
statsmodels
scipy==1.11.4
numba==0.57.0
llvmlite==0.40.1
lightgbm==4.1.0
pyod
retrying
category-encoders
patsy


